version: '3.7'

services:

  bazel:
    build: 
      context: ./
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    restart: always
    user: root
    volumes:
      - ./workspace:/src/workspace
    # ports:
    #   - "5000:5000"
    # depends_on:
    #   - mariadb
    #   - hapi
# volumes:
#     hapi-data:
#         external: true
  
